<p>
  service works!
</p>


  <!-- Service start -->
  <section id="service" class="service">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">

          <div class="section_heading">
            <h2> Services</h2>
          </div>
          <div class="main_service_area">
            <div class="main_service_content">
              <div class="service_tabe">
                <!-- Nav tabs -->
                <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#webdesign" aria-controls="webdesign" role="tab" data-toggle="tab">
                      <i class="fa fa-map-marker"></i>
                      <br />WEB DESIGN</a>
                  </li>
                  <li role="presentation">
                    <a href="#appdesign" aria-controls="appdesign" role="tab" data-toggle="tab">
                      <i class="fa fa-map-marker"></i>
                      <br />APP DESIGN</a>
                  </li>
                  <li role="presentation">
                    <a href="#graphicdesign" aria-controls="graphicdesign" role="tab" data-toggle="tab">
                      <i class="fa fa-map-marker"></i>
                      <br />GRAPHIC DESIGN</a>
                  </li>
                  <li role="presentation">
                    <a href="#gamedesign" aria-controls="gamedesign" role="tab" data-toggle="tab">
                      <i class="fa fa-map-marker"></i>
                      <br />GAME DESIGN</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="webdesign">
                    <div class="single_service_tab">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="single_tab_content">
                            <div class="head_title">
                              <h3>WEB DESIGN One</h3>
                              <div class="separator"></div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Web Next Technology is that it has a more-or-less
                              normal distribution of letters, as opposed to using 'Content here, content here', making it
                              look like readable English. Many desktop publishing packages and web page editors now use Web
                              Next Technology as their default model text, and a search for 'Web Next Technology' </p>

                            <a href="" class="btn btn-primary">LEARN MORE</a>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="single_tab_img">
                            <img src="assets/images/stab1.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="appdesign">
                    <div class="single_service_tab">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="single_tab_content">
                            <div class="head_title">
                              <h3>WEB DESIGN Two</h3>
                              <div class="separator"></div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Web Next Technology is that it has a more-or-less
                              normal distribution of letters, as opposed to using 'Content here, content here', making it
                              look like readable English. Many desktop publishing packages and web page editors now use Web
                              Next Technology as their default model text, and a search for 'Web Next Technology' </p>

                            <a href="" class="btn btn-primary">LEARN MORE</a>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="single_tab_img">
                            <img src="assets/images/featureslid1.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="graphicdesign">
                    <div class="single_service_tab">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="single_tab_content">
                            <div class="head_title">
                              <h3>WEB DESIGN Three</h3>
                              <div class="separator"></div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Web Next Technology is that it has a more-or-less
                              normal distribution of letters, as opposed to using 'Content here, content here', making it
                              look like readable English. Many desktop publishing packages and web page editors now use Web
                              Next Technology as their default model text, and a search for 'Web Next Technology' </p>

                            <a href="" class="btn btn-primary">LEARN MORE</a>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="single_tab_img">
                            <img src="assets/images/stab1.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="gamedesign">
                    <div class="single_service_tab">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="single_tab_content">
                            <div class="head_title">
                              <h3>WEB DESIGN Four</h3>
                              <div class="separator"></div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Web Next Technology is that it has a more-or-less
                              normal distribution of letters, as opposed to using 'Content here, content here', making it
                              look like readable English. Many desktop publishing packages and web page editors now use Web
                              Next Technology as their default model text, and a search for 'Web Next Technology' </p>

                            <a href="" class="btn btn-primary">LEARN MORE</a>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="single_tab_img">
                            <img src="assets/images/featureslid1.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="othersservice" class="othersservice">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main_othersservice_area sections">
            <div class="row">
              <div class="head_title">
                <h3> OOTHER SERVICES</h3>
                <div class="separator"></div>
              </div>

              <div class="main_othersservice_content">
                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="single_othersservice_icon">
                      <h4>
                        <span>
                          <i class="fa fa-clock-o"></i>
                        </span> CREATIVE DESIGN</h4>
                    </div>
                    <div class="single_othersservice_content">
                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="single_othersservice_icon">
                      <h4>
                        <span>
                          <i class="fa fa-picture-o"></i>
                        </span> WEB DEVELOPMENT</h4>
                    </div>
                    <div class="single_othersservice_content">
                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="single_othersservice_icon">
                      <h4>
                        <span>
                          <i class="fa fa-television"></i>
                        </span> VIDEO EDITING</h4>
                    </div>
                    <div class="single_othersservice_content">
                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="single_othersservice_icon">
                      <h4>
                        <span>
                          <i class="fa fa-object-group"></i>
                        </span> MARKETING</h4>
                    </div>
                    <div class="single_othersservice_content">
                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="single_othersservice_icon">
                      <h4>
                        <span>
                          <i class="fa fa-object-group"></i>
                        </span> PHOTOGRAPHY</h4>
                    </div>
                    <div class="single_othersservice_content">

                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="single_othersservice">
                    <div class="s_ot_i_area">
                      <div class="single_othersservice_icon">
                        <h4>
                          <span>
                            <i class="fa fa-object-group"></i>
                          </span> LOGO DESIGN</h4>
                      </div>
                    </div>
                    <div class="single_othersservice_content">

                      <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Service -->

<section id="choose" class="choose">
  <div class="container">
      <div class="row">
          <div class="main_choose sections">
              <div class="col-sm-6">
                  <div class="head_title">
                      <h3>WHY CHOOSE US</h3>
                      <div class="separator"></div>
                  </div>
                  <div class="single_choose">
                      <div class="single_choose_acording">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                      <h4 class="panel-title">
                                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                              <i class="fa fa-picture-o"></i> GREAT DESIGN 
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: auto;">
                                      <div class="panel-body">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingTwo">
                                      <h4 class="panel-title">
                                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              <i class="fa fa-map-signs"></i> RESPONSIVE DESIGN 
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                      <div class="panel-body">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                      <h4 class="panel-title">
                                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              <i class="fa fa-bullseye"></i> RATINA READY 
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                      <div class="panel-body">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                          culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                      <h4 class="panel-title">
                                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                              <i class="fa fa-umbrella"></i>FREE GOOGLE FONT 
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                      <div class="panel-body">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                          culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                      <h4 class="panel-title">
                                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                              <i class="fa fa-subway"></i>1170 PX GRID BASE 
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" aria-expanded="false">
                                      <div class="panel-body">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                          culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="single_choose">
                      <div class="single_choose_img">
                          <img src="assets/images/choose.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
