
<!-- Header Start -->
<div class='preloader'>
  <div class='loaded'>&nbsp;</div>
</div>
<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top">
    <div class="main_menu_bg">
      <div class="container">
        <div class="row">
          <div class="nave_menu">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#home">
                    <img src="assets/images/logo.jpg" style="width: 200px; height: 45px; margin-top: 0%" />
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->



                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a routerLink="home">Home</a>
                    </li>
                    <li>
                      <a routerLink="about">About</a>
                    </li>
                    <li>
                      <a routerLink="service">Service</a>
                    </li>
                    <li>
                      <a routerLink="portfolio">Portfolio</a>
                    </li>
                    <li>
                      <a routerLink="blog">Blog</a>
                    </li>
                    <li>
                      <a routerLink="contact">Contact</a>
                    </li>


                    <li>
                      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-search"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <form class="navbar-form" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                          </form>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End of Header -->

  <router-outlet></router-outlet>
 

  <!-- <section id="maps" class="maps">
    <div class="map-overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="main_maps text-center">
            <div class="col-sm-12 no-padding">
              <div class="map_canvas_icon">
                <i class="fa fa-map-marker" onClick="showmap()"></i>
                <h2 onClick="showmap()">FIND US ON GOOGLE MAP</h2>
              </div>
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

 <!-- Footer Start -->
  <section id="footer" class="footer_widget">
    <div class="video_overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="main_widget">
                <div class="col-sm-3 col-xs-12">
                  <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <div class="footer_logo">
                      <img src="assets/images/logo.png" alt="" />
                    </div>
                    <p>Web Next Technology dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                      ut aliquip ex ea commodo consequat. </p>

                  </div>
                </div>

                <div class="col-sm-3  col-xs-12">
                  <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                    <div class="footer_title">
                      <h4>SITEMAP</h4>
                      <div class="separator"></div>
                    </div>
                    <ul>
                      <li>
                        <a href="">Services</a>
                      </li>
                      <li>
                        <a href="">About Us</a>
                      </li>
                      <li>
                        <a href="">Our Team</a>
                      </li>
                      <li>
                        <a href="">Portfolio</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-3  col-xs-12">
                  <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                    <div class="footer_title">
                      <h4>ACHIVES</h4>
                      <div class="separator"></div>
                    </div>
                    <ul>
                      <li>
                        <a href="">January 2015</a>
                      </li>
                      <li>
                        <a href="">February 2015</a>
                      </li>
                      <li>
                        <a href="">March 2015</a>
                      </li>
                      <li>
                        <a href="">April 2015</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-12">
                  <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                    <div class="footer_title">
                      <h4>NEWSLETTER</h4>
                      <div class="separator"></div>
                    </div>

                    <div class="footer_subcribs_area">
                      <p>Sign up for our mailing list to get latest updates and offers.</p>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <button type="submit" class="submit_btn"></button>
                        </div>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main_footer">
            <div class="row">

              <div class="col-sm-6 col-xs-12">
                <div class="copyright_text">
                  <p class=" wow fadeInRight" data-wow-duration="1s">Copyright &copy;
                    <a href="http://bootstrapthemes.co">Web Next Technology</a>2018. All Rights Reserved</p>
                </div>
              </div>

              <div class="col-sm-6 col-xs-12">
                <div class="flowus">
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Footer -->